{
  "username": "mytwitchname",
  "client_id": "my_app_client_id",
  "client_secret": "my_app_client_secret",
  "data_path": "/home/me/.twitch-ticker",
  "follows": true,
  "subs": true,
  "cheers": true
}
